body{
    max-width: 100vw;
    max-height: 100vh;
}
header{
    position: fixed;
}
.navbar{
    background-color: transparent;
    border: none;
}

.itemcoldiv{
    display: flex;
    flex-direction: column;
}

.collimg{
    width: 100vw;
    margin-bottom: -10vh;
}

.basket-items{
    background-color: rgba(0, 0, 0, 0.315);
}
.goovercoll{
    position: relative;
    color: white;
    top: -425px;
    left: 400px;
    width: fit-content;
    padding: 5px 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}
.collname{
    position: relative;
    color: rgba(255, 255, 255, 0.712);
    top: -600px;
    left: 400px;
    font-size: 3rem;
}
.colldiv{
    flex-direction: row;
}