{% load static %}
<link rel="stylesheet" href="{% static 'source/css/footer.css' %}" />

<footer>
    <nav class="footernav">
        <div class="secondUl">
            <ul class="footerSecondUl">
                <li>
                    <a href="#">Публичная оферта</a>
                </li>
                <li>
                    <a href="#">Оплата</a>
                </li>
                <li>
                    <a href="#">Доставка</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
                <li>
                    <a href="#">Уход</a>
                </li>
                <li>
                    <a href="#">Политика конфиденциальности</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>