.change_form{
    border-radius: 3rem;
    border-color: maroon;
    border-width: 0.4rex;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    padding: 2rem;
    font-size: 2rem;
    place-items: center;

    
}
.change_form input{
    border-radius: 1rem;
    margin: 1rex;
    color: black;
}
.change_form button{
    /* border-color: white;
    border-radius: 1rem; */
    padding: 0.6rex;
    /* border-width: 0.3rex; */
    position: relative;
    transition: all 0.3s;
}
.change_form button:hover{
    /* border-color: white;
    border-radius: 1rem; */
    padding: 0.6rex;
    /* border-width: 0.3rex; */

    position: relative;
    transition: all 0.3s;
    bottom: -6px;
    filter: invert(50%) sepia(100%) saturate(10000%)brightness(200%);

}

.change_form{
    &:focus-within {
        
        label{
            transition: 0.3s;
            filter: invert(50%) sepia(100%) saturate(10000%)brightness(200%);
        }
    }

}