.catandcoll{
    display: flex;
    li{
        width: 50vw;
        display: inline;
        p{
            color: white;
            border-color: white;
            background-color: black;
            border-width: 1px;
            border-radius: 10px;
            padding: 5px 15px;
            font-size: 1.5rem;
            width: fit-content;
        }
        .pcat{
            position: absolute;
            top: 540px;
            right: 400px;
        }
        .pcoll{
            position: absolute;
            top: 540px;
            left: 400px;
        }
    }
}